- const version = '0.0.1'
mixin allcss()
	| <link rel="preconnect" href="https://fonts.googleapis.com">
	| <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	| <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	link(href="libs/animate.css/animate.min.css" rel="stylesheet")
	link(href=`css/main.min.css`, rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="js/jquery.spincrement.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	//- script(src=`js/common.js?v=${version}`)
	script(src="libs/wowjs/wow.min.js")
	script(src=`js/common.js`)