include include.pug
include js-css.pug
include ../blocks/modal/_modal.pug
doctype html
html(lang="ua")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="Про що сторінка")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no")
		link(type="image/ico", href='img/favicon.ico', rel='shortcut icon') 
		<meta name="format-detection" content="telephone=no"> 
		+allcss()
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage data-bg=bg)
		.main-wrapper
			block pagecontent
				h3 content
		//-+modal()
		+allcjs()
		block scripts