mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span

mixin mob-mnu()
	+b.menu-mobile--js
		//-+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			+e.btn(href="#") Let's talk

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.align-items-center.gx-4
				+e.col--logo.col.col-lg-auto
					+e.logo(href="/")
						img(src="img/@2x/logo.png" alt="")
				.col.d-none.d-md-block
					+mnu()
						block
				.col-auto.d-none.d-md-block
					+e.btn(href='#') Let's talk
				.col-auto.d-md-none
					+menu-toggle()