.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	background-color: transparent;

	padding: rem(15) 0;
	@include media-breakpoint-up(xl){
		padding: rem(18) 0;
	}
	@include media-breakpoint-up(xxl){
		padding: rem(24) 0;
	}

	&__col{
		&--logo{

			@include media-breakpoint-up(lg){
				width: 40%!important;
			}
		}
	}
	&__logo{
		width: 48px;
		height: auto;

		img{
			max-width: 100%;
		}
	}
	.menu{
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.menu-item{
		margin-right: rem(32);
		@include media-breakpoint-up(lg){
			margin-right: rem(48);
		}
		&:last-child{
			margin-right: 0;
		}

		a{
			display: inline-block;
			line-height: 1.5;

			color: $body-color;
			&:hover{
				color: $primary;
			}
			&.current{
				color: $primary!important;
			}
		}
	}

	&__btn{
		@extend .btn;
		@extend .btn-outline-dark;
	}
	&__{}
}


