// start .header
.header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100vw;

	border-bottom: 1px solid transparent;
	background-color: $white;
	@include media-breakpoint-up(lg){
		background-color: transparent;
	}
}
body.fixed .header,
.header.fixed{
	border-bottom: 1px solid $gray-300;
	box-shadow: 0 0 15px -5px rgba($black, .2);
	background-color: $white;
}
// end.header