mixin mnu()
	nav
		ul.menu
			if block
				block
			else
				li.menu-item: a.current(href="/") Home
				li.menu-item: a(href="/about.html") About
				li.menu-item: a(href="/contact.html") Contact
//- menu